.Decarb-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color: black;
}

.modal-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 98vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;

  
}

.modal {
    background-color: white;
    border-radius: 15px;
    padding: 2rem;
    position: relative;

    
}

.close-btn {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    width: 2rem;
    cursor: pointer;
}